Download the raw data from kaggle link: https://www.kaggle.com/datasets/rishikeshkonapure/zomato

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv(r'D:\Programming\Data cleaning projects\Zomato data\zomato.csv')

In [3]:
data.head(3)

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari

In [4]:
data.tail(3)

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
51714,https://www.zomato.com/bangalore/plunge-sherat...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,NaN,0,NaN,Whitefield,Bar,NaN,Finger Food,"2,000",[],[],Pubs and bars,Whitefield
51715,https://www.zomato.com/bangalore/chime-sherato...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,080 49652769,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500","[('Rated 4.0', 'RATED\n Nice and friendly pla...",[],Pubs and bars,Whitefield
51716,https://www.zomato.com/bangalore/the-nest-the-...,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,No,No,3.4 /5,13,+91 8071117272,"ITPL Main Road, Whitefield","Bar, Casual Dining",NaN,"Finger Food, North Indian, Continental","1,500","[('Rated 5.0', 'RATED\n Great ambience , look...",[],Pubs and bars,Whitefield

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          51717 non-null  object
 1   address                      51717 non-null  object
 2   name                         51717 non-null  object
 3   online_order                 51717 non-null  object
 4   book_table                   51717 non-null  object
 5   rate                         43942 non-null  object
 6   votes                        51717 non-null  int64
 7   phone                        50509 non-null  object
 8   location                     51696 non-null  object
 9   rest_type                    51490 non-null  object
 10  dish_liked                   23639 non-null  object
 11  cuisines                     51672 non-null  object
 12  approx_cost(for two people)  51371 non-null  object
 13  reviews_list                 51717 non-null  object
 14  menu_item                    51717 non-null  object
 15  listed_in(type)              51717 non-null  object
 16  listed_in(city)              51717 non-null  object
dtypes: int64(1), object(16)
memory usage: 6.7+ MB

In [6]:
data.isna().sum()

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                            7775
votes                              0
phone                           1208
location                          21
rest_type                        227
dish_liked                     28078
cuisines                          45
approx_cost(for two people)      346
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

In [7]:
data.shape

(51717, 17)

In [8]:
data.sample(1)

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
42283,https://www.zomato.com/bangalore/hammered-cunn...,"18, Ali Askar Road, Cunningham Road, Bangalore",Hammered,Yes,Yes,4.7 /5,4839,+91 8041217527\n+91 7618729481,Cunningham Road,"Pub, Cafe","Sangria, Chicken Satay, Crispy Corn, Masala Fr...","North Indian, Thai, Japanese, Continental, Cafe","1,300","[('Rated 5.0', 'RATED\n It is a really good p...","['Jalapeno Cheese Bullets', 'Paneer Sufiyana T...",Cafes,MG Road

In [9]:
data.columns

Index(['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [10]:
columns_to_keep=['name', 'online_order', 'book_table', 'location','rest_type','cuisines','approx_cost(for two people)']

columns_to_drop=['url', 'address','votes','phone', 'rate', 'menu_item','reviews_list','dish_liked', 'menu_item','listed_in(type)', 'listed_in(city)']

In [11]:
len(columns_to_keep)

7

In [12]:
data.drop(columns=columns_to_drop,inplace=True)

In [13]:
data.head()

,name,online_order,book_table,location,rest_type,cuisines,approx_cost(for two people)
0,Jalsa,Yes,Yes,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800
1,Spice Elephant,Yes,No,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800
2,San Churro Cafe,Yes,No,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800
3,Addhuri Udupi Bhojana,No,No,Banashankari,Quick Bites,"South Indian, North Indian",300
4,Grand Village,No,No,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600

In [14]:
data.rename(columns={'rest_type	':'Restaurant_type','book_table':'Reservation_status'},inplace=True)

In [15]:
data.head()

,name,online_order,Reservation_status,location,rest_type,cuisines,approx_cost(for two people)
0,Jalsa,Yes,Yes,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800
1,Spice Elephant,Yes,No,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800
2,San Churro Cafe,Yes,No,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800
3,Addhuri Udupi Bhojana,No,No,Banashankari,Quick Bites,"South Indian, North Indian",300
4,Grand Village,No,No,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600

In [16]:
data.columns=[col.upper() for col in data.columns ]

In [17]:
data.columns

Index(['NAME', 'ONLINE_ORDER', 'RESERVATION_STATUS', 'LOCATION', 'REST_TYPE',
       'CUISINES', 'APPROX_COST(FOR TWO PEOPLE)'],
      dtype='object')

In [18]:
data.duplicated().sum()

38188

In [19]:
data.drop_duplicates(inplace=True)

In [20]:
data.duplicated().sum()

0

In [21]:
data.shape

(13529, 7)

In [22]:
data.head()

,NAME,ONLINE_ORDER,RESERVATION_STATUS,LOCATION,REST_TYPE,CUISINES,APPROX_COST(FOR TWO PEOPLE)
0,Jalsa,Yes,Yes,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800
1,Spice Elephant,Yes,No,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800
2,San Churro Cafe,Yes,No,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800
3,Addhuri Udupi Bhojana,No,No,Banashankari,Quick Bites,"South Indian, North Indian",300
4,Grand Village,No,No,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600

In [25]:
to_remove = ['$', ',', ' ']

for col in data.select_dtypes(include=['object']).columns:
    for char in to_remove:
        data[col] = data[col].str.replace(char, '', regex=False)

In [26]:
data['APPROX_COST(FOR TWO PEOPLE)'].dtype

dtype('O')

In [27]:
data['APPROX_COST(FOR TWO PEOPLE)']=data['APPROX_COST(FOR TWO PEOPLE)'].astype(float)

In [28]:
data['APPROX_COST(FOR TWO PEOPLE)'].dtype

dtype('float64')

In [29]:
data.head()

,NAME,ONLINE_ORDER,RESERVATION_STATUS,LOCATION,REST_TYPE,CUISINES,APPROX_COST(FOR TWO PEOPLE)
0,Jalsa,Yes,Yes,Banashankari,CasualDining,NorthIndianMughlaiChinese,800.0
1,SpiceElephant,Yes,No,Banashankari,CasualDining,ChineseNorthIndianThai,800.0
2,SanChurroCafe,Yes,No,Banashankari,CafeCasualDining,CafeMexicanItalian,800.0
3,AddhuriUdupiBhojana,No,No,Banashankari,QuickBites,SouthIndianNorthIndian,300.0
4,GrandVillage,No,No,Basavanagudi,CasualDining,NorthIndianRajasthani,600.0

In [30]:
data.to_csv(r'D:\Programming\Data cleaning projects\Zomato data\clean_zomato.csv',index=False)